/*
  mobile devices: 350-411px
*/

* {
  box-sizing: border-box;
}

html {
  font-size: 14px; /* 14px = 1rem; 16px = 1.15rem; 18px = 1.3rem */
  overflow: auto;
}

body {
  font-family: "Mulish", sans-serif;
  background-color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 1.715rem;
  font-weight: 700;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

a {
  cursor: default;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

label:hover {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}
