* {
  box-sizing: border-box;
}

html {
  font-size: 10px; /* 14px = 1rem; 16px = 1.15rem; 18px = 1.3rem */
  overflow: auto;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  background-color: var(--primary-color);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 2.35rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

button {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: none;

  &:disabled {
    cursor: default;
  }
}

a {
  text-decoration: none;

  &:disabled {
    cursor: default;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}
