:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --white-contrast-color: var(--black-color);
  --primary-color: #0181a8;
  --primary-focused-color: #01a9dc;
  --primary-active-color: #00638a;
  --primary-contrast-color: var(--white-color);
  --accent-color: #fb613b;
  --accent-focused-color: #fe7d5d;
  --accent-active-color: #dd431d;
  --accent-contrast-color: var(--white-color);
  --error-color: #da291c;
  --divider-color: #e0e0e0;
  --gray-color: #757575;
  --light-gray-color: #cecece;
  --background-gray-color: #f0f4f5;
  --disabled-text-color: #acacac;
  --disabled-field-color: #ccc;
  --disabled-button-color: var(--light-gray-color);
  --disabled-button-text-color: var(--disabled-text-color);
  --field-border-color: var(--light-gray-color);

  --base-field-height: 56px;
  --base-field-padding: 12px;

  --menu-box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.1);
}
