:root {
  --white-color: #ffffff;
  --white-contrast-color: #000000;
  --primary-color: #0181a8;
  --primary-contrast-color: var(--white-color);
  --accent-color: #fb613b;
  --accent-contrast-color: var(--white-color);
  --divider-color: #e0e0e0;
}
