:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --white-contrast-color: var(--black-color);
  --primary-color: #0181a8;
  --primary-contrast-color: var(--white-color);
  --accent-color: #fb613b;
  --accent-contrast-color: var(--white-color);
  --divider-color: #e0e0e0;
  --gray-color: #757575;
  --background-gray-color: #f0f4f5;
}
