:root {
  --white-color: #ffffff;
  --black-color: #000000;
  --gray-text-color: #acacac;
  --white-contrast-color: var(--black-color);
  --primary-color: #0181a8;
  --primary-field-box-shadow: 0px 0px 0px 4px rgba(1, 129, 168, 0.15);
  --primary-focused-color: #01a9dc;
  --primary-active-color: #00638a;
  --primary-contrast-color: var(--white-color);
  --secondary-button-color: #f0f4f5;
  --light-primary-color: #bfdfe9;
  --accent-color: #fb613b;
  --accent-focused-color: #fe7d5d;
  --accent-active-color: #dd431d;
  --accent-contrast-color: var(--white-color);
  --light-accent-color: #fed7ce;
  --error-color: #da291c;
  --error-field-box-shadow: 0px 0px 0px 4px rgba(218, 41, 28, 0.15);
  --divider-color: #e0e0e0;
  --gray-color: #757575;
  --field-placeholder-color: var(--gray-color);
  --light-gray-color: #cecece;
  --background-gray-color: #f0f4f5;
  --field-color: #f0f4f5;
  --field-text-color: var(--black-color);
  --disabled-text-color: var(--gray-text-color);
  --disabled-field-color: #ccc;
  --disabled-button-color: var(--light-gray-color);
  --disabled-button-text-color: var(--disabled-text-color);
  --field-border-color: var(--light-gray-color);
  --success-snack-bar-color: #38b000;
  --error-snack-bar-color: var(--black-color);
  --important-snack-bar-color: var(--black-color);
  --backdrop-color: rgba(30, 30, 30, 0.7);
  --hint-text-color: #747474;

  --base-field-height: 56px;
  --base-field-padding: 12px;

  --menu-box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.1);

  --laptop-max-width: 1440px;
  --laptop-horizontal-padding: 80px;
}
