<div class="pu-field-outer">
  <button
    #menuTrigger="cdkMenuTriggerFor"
    class="pu-field"
    [class.pu-field--active]="menuTrigger.isOpen()"
    [cdkMenuTriggerFor]="countryCodeList"
    [attr.aria-label]="_ariaLabelDirective.ariaLabel()"
    [disabled]="_isDisabled()"
    type="button"
    (cdkMenuClosed)="touchField()"
  >
    @if (_viewValue(); as value) {
      <span>{{ value }}</span>
    } @else {
      <span
        class="placeholder"
        [class.placeholder--disabled]="_isDisabled()"
      >
        {{ _placeholderDirective.placeholder() }}
      </span>
    }
  </button>

  <img
    class="caret-icon"
    [class.caret-icon--rotated]="menuTrigger.isOpen()"
    ngSrc="/assets/icons/gray-caret-down.svg"
    alt="Caret"
    width="24"
    height="24"
  />
</div>

<ng-template #countryCodeList>
  <div class="country-code-list-panel" cdkMenu>
    @for (countryCode of _countryCodes; track countryCode.value) {
      <button
        class="country-code-list-item"
        [class.country-code-list-item--selected]="
          _value()?.value === countryCode.value
        "
        cdkMenuItem
        (cdkMenuItemTriggered)="handleCountryCodeSelect(countryCode)"
      >
        <span
          >{{ countryCode.value }} ({{
            countryCode.countryLabel | translate
          }})</span
        >
      </button>
    }
  </div>
</ng-template>
