:host-context(.pu-form__field.ng-invalid.ng-touched) {
  .pu-field {
    border-color: var(--error-color);

    &:focus {
      box-shadow: var(--error-field-box-shadow);
      caret-color: var(--error-color);
    }

    &.pu-field--active {
      box-shadow: var(--error-field-box-shadow);
      caret-color: var(--error-color);
    }
  }
}

:host {
  display: block;
}

.pu-field-outer {
  position: relative;
}

.pu-field {
  display: flex;
  align-items: center;
  width: 90px;
  height: var(--base-field-height);
  padding: 0 var(--base-field-padding);
}

.placeholder {
  color: var(--field-placeholder-color);

  &.placeholder--disabled {
    color: var(--disabled-text-color);
  }
}

.caret-icon {
  pointer-events: none;
  position: absolute;
  top: 16px;
  right: var(--base-field-padding);
  transition: transform 0.25s ease-in-out;

  &.caret-icon--rotated {
    transform: rotate(180deg);
  }
}

.country-code-list-panel {
  --max-items: 3;
  --item-height: 44px;
  --vertical-padding: 8px;

  display: flex;
  flex-direction: column;
  height: calc(
    var(--vertical-padding) * 2 + var(--max-items) * var(--item-height)
  );
  margin: 4px 0;
  padding: var(--vertical-padding) 0;
  background-color: var(--white-color);
  border-radius: 16px;
  box-shadow: var(--menu-box-shadow);
  overflow-y: auto;
}

.country-code-list-item {
  flex-shrink: 0;
  height: 44px;
  padding: 0 16px;
  color: var(--white-contrast-color);
  text-align: left;

  &.country-code-list-item--selected {
    font-weight: 600;
    color: var(--accent-color);
  }

  &:focus {
    outline: none;
  }
}
