<button
  cdkOverlayOrigin
  #origin="cdkOverlayOrigin"
  [ariaLabel]="_ariaLabelDirective.ariaLabel()"
  type="button"
  (click)="togglePanel()"
>
  <span>{{ _value() || _placeholderDirective.placeholder() }}</span>
</button>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayOpen]="_isPanelOpened()"
>
  <ul cdkListbox (cdkListboxValueChange)="handleListboxValueChange($event)">
    <li *ngFor="let code of _countryCodes" [cdkOption]="code">
      <span>{{ code }}</span>
    </li>
  </ul>
</ng-template>
