<form
  class="pu-form"
  [formGroup]="_loginForm"
  (ngSubmit)="handleLoginFormSubmit()"
>
  <pu-email-field
    class="pu-form__field"
    [puLabel]="'fieldLabel.email' | translate"
    [puPlaceholder]="'fieldPlaceholder.email' | translate"
    formControlName="email"
  ></pu-email-field>

  <div
    class="pu-form__errors"
    *ngIf="_loginForm.controls.email as emailControl"
  >
    <ng-container *ngIf="emailControl.touched">
      <p class="pu-form__errors-item" *ngIf="emailControl.errors?.['required']">
        {{ "fieldError.emailIsRequired" | translate }}
      </p>

      <p
        class="pu-form__errors-item"
        *ngIf="emailControl.errors?.['emailFormat']"
      >
        {{ "fieldError.incorrectEmailFormat" | translate }}
      </p>
    </ng-container>
  </div>

  <pu-password-field
    class="pu-form__field"
    [puLabel]="'fieldLabel.password' | translate"
    [puPlaceholder]="'fieldPlaceholder.password' | translate"
    formControlName="password"
  ></pu-password-field>

  <div
    class="pu-form__errors"
    *ngIf="_loginForm.controls.password as passwordControl"
  >
    <ng-container *ngIf="passwordControl.touched">
      <p
        class="pu-form__errors-item"
        *ngIf="passwordControl.errors?.['required']"
      >
        {{ "fieldError.passwordIsRequired" | translate }}
      </p>
    </ng-container>
  </div>

  <ng-container *ngIf="state$ | async as state">
    <button
      class="pu-form__submit-button"
      puAccentButton
      [isLoading]="state.isLoading"
      [disabled]="_loginForm.invalid"
      type="submit"
    >
      <span>{{ "actionLabel.login" | translate }}</span>
    </button>
  </ng-container>
</form>
