@if (_service.state(); as state) {
  @if (state.isLoading) {
    <div class="loading-view">
      <pu-spinner
        class="loading-view__spinner"
        size="big"
        color="primary"
      />
    </div>
  } @else if (state.responseErrorMessage !== '') {
    <pu-error-view
      [errorMessage]="state.responseErrorMessage"
      (reload)="handleReload()"
    />
  } @else if (state.responseData !== null) {
    @if (state.isAllType && state.responseData.items.length === 0) {
      <div class="empty-view">
        <p class="empty-view__message">
          <span>{{ 'emptyMyApplicationsListMessage' | translate }}</span>
          <br>
          <span>{{ "inOrderToCreateAnApplication" | translate }}</span>
          <br>
          <span>
            <a
              class="empty-view__navigation-link"
              puTextLink
              routerLink="/send-parcel"
            >
              {{ "callToAction.sendParcel" | translate }}
            </a>
            {{ 'or' | translate }}
            <a
            class="empty-view__navigation-link"
            puTextLink
            routerLink="/deliver-parcel"
          >
            {{ "callToAction.deliverParcel" | translate }}
          </a>
          </span>         
        </p>
    
        <pu-placeholder
          class="empty-view__illustration"
          [style.height.px]="300"
        />
      </div>
    } @else {
      <div class="content-view">
        <pu-my-application-type-dropdown-field
          class="my-applications-dropdown-field"
          [isDisabled]="state.isLoading"
          [options]="_myApplicationTypesOptions"
          [selectedOption]="_selectedOption()"
          (optionSelect)="handleApplicationTypeOptionSelect($event)"
        ></pu-my-application-type-dropdown-field>

        <pu-my-application-type-radio-field
          class="my-applications-radio-field"
          [isDisabled]="state.isLoading"
          [options]="_myApplicationTypesOptions"
          [selectedOption]="_selectedOption()"
          (optionSelect)="handleApplicationTypeOptionSelect($event)"
        ></pu-my-application-type-radio-field>
  
        <pu-my-applications-list
          class="applications-list"
          [myApplicationsList]="state.responseData.items"
          (myApplicationDeleted)="_service.deleteMyApplication($event)"
        ></pu-my-applications-list>
      </div>
    }
  }
}
