:host {
  &.ng-invalid.ng-touched {
    .pu-field {
      border-color: var(--error-color);

      &:focus {
        box-shadow: var(--error-field-box-shadow);
        caret-color: var(--error-color);
      }
    }
  }
}

.pu-label-and-characters-counter {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  padding: 0 var(--base-field-padding);

  .pu-label {
    flex-grow: 1;
    margin: 0;
    padding: 0;
  }

  .pu-characters-counter {
    flex-shrink: 0;
    margin-left: 10px;
    color: var(--gray-text-color);

    &.pu-characters-counter--disabled {
      opacity: 0.7;
    }
  }
}

.pu-label {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-height: 21px;
  margin-bottom: 6px;
  padding: 0 var(--base-field-padding);
  font-size: 1.15rem;
  font-weight: 700;
  line-height: 21px;

  &.pu-label--disabled {
    color: var(--disabled-text-color);
  }
}

.pu-field-container {
  position: relative;
  display: flex;
  flex-shrink: 0;

  .pu-field {
    width: 100%;
  }
}

.pu-field {
  display: flex;
  flex-shrink: 0;
  font-size: 1.15rem;
  color: var(--field-text-color);
  background-color: var(--field-color);
  border: 1px solid var(--field-border-color);
  border-radius: 16px;

  &::placeholder {
    color: var(--field-placeholder-color);
    text-transform: none;
  }

  &:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: var(--primary-field-box-shadow);
    caret-color: var(--primary-color);
    // The following property is needed to show box-shadow on ios devices
    -webkit-appearance: none;
  }

  &:disabled {
    color: var(--disabled-text-color);
    background-color: var(--disabled-field-color);
    border-color: var(--disabled-field-color);
    box-shadow: none;

    &::placeholder {
      color: var(--disabled-text-color);
    }
  }
}
