:host {
  &.ng-invalid.ng-touched {
    .pu-field {
      border-color: var(--error-color);

      &:focus {
        box-shadow: 0px 0px 0px 4px rgba(218, 41, 28, 0.15);
        caret-color: var(--error-color);
      }
    }
  }

  &.pu-disabled {
    pointer-events: none;

    .pu-label {
      color: var(--disabled-text-color);
    }

    .pu-field {
      color: var(--disabled-text-color);
      background-color: var(--disabled-field-color);
      border-color: var(--disabled-field-color);
      box-shadow: none;

      &::placeholder {
        color: var(--disabled-text-color);
      }
    }
  }
}

.pu-label {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-height: 21px;
  margin-bottom: 6px;
  padding: 0 var(--base-field-padding);
  font-size: 1.15rem;
  font-weight: 700;
  line-height: 21px;
}

.pu-field-container {
  position: relative;
  display: flex;
  flex-shrink: 0;

  .pu-field {
    width: 100%;
  }
}

.pu-field {
  display: flex;
  flex-shrink: 0;
  font-size: 1.15rem;
  color: var(--field-text-color);
  background-color: var(--field-color);
  border: 1px solid var(--field-border-color);
  border-radius: 16px;

  &::placeholder {
    color: var(--gray-color);
  }

  &:focus {
    border-color: var(--primary-color);
    outline: none;
    box-shadow: 0px 0px 0px 4px rgba(1, 129, 168, 0.15);
    caret-color: var(--primary-color);
    // The following property is needed to show box-shadow on ios devices
    -webkit-appearance: none;
  }
}

.pu-field-errors {
  flex-shrink: 0;
  min-height: 18px;
  margin-top: 8px;
  padding: 0 var(--base-field-padding);
}
