.pu-form {
  display: flex;
  flex-direction: column;
}

.pu-form__field {
  flex-shrink: 0;
}

.pu-form__field-hint {
  flex-shrink: 0;
  margin: 8px 0;
}

.pu-form__field-errors {
  flex-shrink: 0;
  margin: 8px 0;
}

.pu-form__submit-button {
  flex-shrink: 0;
}
