:host {
  display: block;
}

.title {
  margin-bottom: 12px;
  text-align: center;
}

.message {
  margin-bottom: 28px;
  text-align: center;
}

.actions__item {
  width: 100%;
  height: 48px;

  &:not(:first-child) {
    margin-top: 12px;
  }
}
