<button
  class="open-menu-button"
  [cdkMenuTriggerFor]="languageListMenu"
  [cdkMenuPosition]="[_position]"
>
  <span>{{ _selectedLocalization()?.label }}</span>
</button>

<ng-template #languageListMenu>
  <div class="menu" cdkMenu>
    <button
      class="menu__item"
      [class.selected]="
        localization.language === _selectedLocalization()?.language
      "
      *ngFor="
        let localization of _localizations();
        trackBy: trackByLocalizationLabel
      "
      cdkMenuItem
      (cdkMenuItemTriggered)="select.emit(localization)"
    >
      <span>{{ localization.label }}</span>
    </button>
  </div>
</ng-template>
