<button
  class="open-menu-button"
  [cdkMenuTriggerFor]="languageListMenu"
  [cdkMenuPosition]="[_position]"
>
  <span>{{ _selectedLocalization()?.label }}</span>
</button>

<ng-template #languageListMenu>
  <div class="menu" cdkMenu>
    @for (localization of _localizations(); track localization.label) {
      <button
        class="menu__item"
        [class.menu__item--selected]="
          localization.language === _selectedLocalization()?.language
        "
        cdkMenuItem
        (cdkMenuItemTriggered)="select.emit(localization)"
      >
        <span>{{ localization.label }}</span>
      </button>
    }
  </div>
</ng-template>
