<label
  class="pu-label"
  [class.pu-label--disabled]="_isDisabled()"
  [for]="_idDirective.id()"
  >{{ _labelDirective.label() }}</label
>

<div class="pu-field-container">
  <input
    #fieldRef
    [id]="_idDirective.id()"
    class="pu-field"
    [matDatepicker]="datepicker"
    [min]="_minDate()"
    [max]="_maxDate()"
    [placeholder]="_placeholderDirective.placeholder()"
    [formControl]="_inputField"
    puDisabled
    [disabled]="_isDisabled()"
    type="text"
    readonly
    (focus)="datepicker.open()"
    (click)="fieldRef.blur(); fieldRef.focus()"
    (dateChange)="handleDateChange($event)"
  />

  <img
    class="calendar-icon"
    ngSrc="/assets/icons/calendar.svg"
    alt="Calendar"
    width="24"
    height="24"
  />
</div>

<mat-datepicker
  #datepicker
  [touchUi]="true"
  (closed)="touchField()"
></mat-datepicker>
