:host {
  display: block;
}

.pu-field {
  height: var(--base-field-height);
  padding: 0 48px 0 var(--base-field-padding);
}

.calendar-icon {
  pointer-events: none;
  position: absolute;
  right: var(--base-field-padding);
  bottom: 16px;
}
