:host {
  display: block;
}

.pu-field {
  height: var(--base-field-height);
  padding: 0 48px 0 var(--base-field-padding);
}

.calendar-icon {
  position: absolute;
  right: var(--base-field-padding);
  bottom: 16px;
  width: 24px;
  height: 24px;
  background-image: url("/assets/icons/calendar.svg");
}
