<form
  class="pu-form"
  [formGroup]="_deliverParcelForm"
  (ngSubmit)="handleDeliverParcelFormSubmit()"
>
  @if (_places(); as places) {
    <div class="pu-form__row">
      <div class="pu-form__field-container">
        <pu-place-field
          class="pu-form__field"
          [puLabel]="'fieldLabel.departurePlace' | translate"
          [puPlaceholder]="'fieldPlaceholder.departurePlace' | translate"
          [places]="places"
          formControlName="departurePlace"
        />

        <pu-field-errors
          class="pu-form__field-errors"
          [areErrorsVisible]="_deliverParcelForm.controls.departurePlace.touched"
          [errors]="_deliverParcelForm.controls.departurePlace.errors"
          [errorsMappings]="{
            required: 'fieldError.departurePlaceIsRequired' | translate
          }"
        />
      </div>

      <div class="laptop-direction-image"></div>

      <div class="pu-form__field-container">
        <pu-place-field
          class="pu-form__field"
          [puLabel]="'fieldLabel.destination' | translate"
          [puPlaceholder]="'fieldPlaceholder.destination' | translate"
          [places]="places"
          formControlName="destination"
        />

        <pu-field-errors
          class="pu-form__field-errors"
          [areErrorsVisible]="_deliverParcelForm.controls.destination.touched"
          [errors]="_deliverParcelForm.controls.destination.errors"
          [errorsMappings]="{
            required: 'fieldError.destinationIsRequired' | translate
          }"
        />
      </div>
    </div>
  }

  <div class="pu-form__row">
    <div class="pu-form__field-container pu-form__field-container--half-width">
      <!-- TODO: Make desktop version as per design -->
      <pu-date-range-field
        class="pu-form__field"
        [puLabel]="'fieldLabel.departureAndArrivalDates' | translate"
        [puStartDatePlaceholder]="
          'fieldPlaceholder.departureDate' | translate
        "
        [puEndDatePlaceholder]="
          'fieldPlaceholder.arrivalDate' | translate
        "
        formControlName="departureAndArrivalDates"
      />

      <pu-field-errors
        class="pu-form__field-errors"
        [areErrorsVisible]="_deliverParcelForm.controls.departureAndArrivalDates.touched"
        [errors]="_deliverParcelForm.controls.departureAndArrivalDates.errors"
        [errorsMappings]="{
          startDateRequired: 'fieldError.departureDateIsRequired' | translate,
          endDateRequired: 'fieldError.arrivalDateIsRequired' | translate
        }"
      />
    </div>
  </div>

  <div class="pu-form__row">
    <div class="pu-form__field-container">
      <pu-textarea-field
        class="pu-form__field"
        [puLabel]="'fieldLabel.deliverParcelDescription' | translate"
        [puPlaceholder]="'fieldPlaceholder.deliverParcelDescription' | translate"
        [puMaxLength]="_config.descriptionMaxLength"
        puAutocomplete="off"
        formControlName="description"
      />

      <pu-field-errors
        class="pu-form__field-errors"
        [areErrorsVisible]="_deliverParcelForm.controls.description.touched"
        [errors]="_deliverParcelForm.controls.description.errors"
        [errorsMappings]="{
          required: 'fieldError.descriptionIsRequired' | translate
        }"
      />
    </div>
  </div>

  <div class="pu-form__row">
    <div class="pu-form__field-container pu-form__field-container--half-width">
      <pu-text-field
        class="pu-form__field"
        [puLabel]="'fieldLabel.fullName' | translate"
        [puPlaceholder]="'fieldPlaceholder.fullName' | translate"
        [puMaxLength]="_config.fullNameMaxLength"
        puAutocomplete="name"
        formControlName="fullName"
      />

      <pu-field-errors
        class="pu-form__field-errors"
        [areErrorsVisible]="_deliverParcelForm.controls.fullName.touched"
        [errors]="_deliverParcelForm.controls.fullName.errors"
        [errorsMappings]="{
          required: 'fieldError.fullNameIsRequired' | translate
        }"
      />
    </div>

    <div class="pu-form__row-small-spacer"></div>

    <div class="pu-form__field-container">
      <pu-email-field
        class="pu-form__field"
        [puLabel]="'fieldLabel.email' | translate"
        [puPlaceholder]="'fieldPlaceholder.email' | translate"
        [puMaxLength]="_config.emailMaxLength"
        [isMailIconVisible]="false"
        puAutocomplete="email"
        formControlName="email"
      />

      <pu-field-errors
        class="pu-form__field-errors"
        [areErrorsVisible]="_deliverParcelForm.controls.email.touched"
        [errors]="_deliverParcelForm.controls.email.errors"
        [errorsMappings]="{
          required: 'fieldError.emailIsRequired' | translate,
          emailFormat: 'fieldError.incorrectEmailFormat' | translate
        }"
      />
    </div>
  </div>

  <div class="pu-form__row">
    <div class="pu-form__field-container pu-form__field-container--half-width">
      <pu-phone-field
        class="pu-form__field"
        [puLabel]="'fieldLabel.notRequiredPhone' | translate"
        [puCountryCodePlaceholder]="'fieldPlaceholder.countryCode' | translate"
        [puNumberPlaceholder]="'fieldPlaceholder.phoneNumber' | translate"
        puAutocomplete="tel-local"
        formControlName="phone"
      />

      <pu-field-errors
        class="pu-form__field-errors"
        [areErrorsVisible]="_deliverParcelForm.controls.phone.touched"
        [errors]="_deliverParcelForm.controls.phone.errors"
        [errorsMappings]="{
          countryCodeRequired: 'fieldError.countryCodeIsMissing' | translate,
          phoneNumberRequired: 'fieldError.phoneNumberIsMissing' | translate,
          phoneNumberFormat: 'fieldError.incorrectPhoneNumberFormat' | translate
        }"
      />
    </div>
  </div>

  <pu-checkbox-field
    class="pu-form__field"
    [puLabel]="'iWillTreatTheParcelWithCare' | translate"
    formControlName="allowedItemsConfirmation"
  />

  <div class="checkboxes-spacer"></div>

  <pu-checkbox-field
    class="pu-form__field"
    [puLabel]="'noServiceResponsibilityConfirmationText' | translate"
    formControlName="noServiceResponsibilityConfirmation"
  />

  <button
    class="pu-form__submit-button"
    puAccentButton
    [isLoading]="_isLoading()"
    [disabled]="_isLoading() || _deliverParcelForm.invalid"
    type="submit"
  >
    <span>{{ "actionLabel.publish" | translate }}</span>
  </button>
</form>
