:host {
  display: inline;
  color: var(--accent-color);
  text-decoration: underline;
  
  &.text-link--dim {
    color: var(--dim-accent-color);
  }

  &:not(.text-link--dim):focus {
    color: var(--accent-focused-color);
  }

  &:not(.text-link--dim):active {
    color: var(--accent-active-color);
  }
}
