:host {
  display: inline;
  color: var(--accent-color);
  text-decoration: underline;

  &:focus {
    color: var(--accent-focused-color);
  }

  &:active {
    color: var(--accent-active-color);
  }
}
