@import "../_screen-size-mixins.scss";

.pu-dialog {
  &.pu-dialog--scrollable {
    padding-top: 70px;
    padding-bottom: 16px;
    overflow-y: auto;
  }
}

@include for-laptop {
  .pu-dialog {
    &.pu-dialog--small {
      width: 640px;
      padding: 60px;
      // TODO: Background color should be applied to pu-dialog
      background-color: var(--primary-color);
      border-radius: 76px;
    }

    &.pu-dialog--scrollable {
      padding-top: 16px;
    }
  }
}
