.pu-snack-bar.mat-mdc-snack-bar-container {
  .mdc-snackbar__surface {
    padding-right: 0;

    .mdc-snackbar__label {
      padding: 0;
    }
  }
}

.pu-snack-bar.pu-snack-bar--success.mat-mdc-snack-bar-container {
  .mdc-snackbar__surface {
    background-color: var(--success-snack-bar-color);
  }
}

.pu-snack-bar.pu-snack-bar--error.mat-mdc-snack-bar-container {
  .mdc-snackbar__surface {
    background-color: var(--error-color);
  }
}
