<ng-container *ngIf="_state$ | async as state">
  <form
    class="pu-form"
    [formGroup]="_sendParcelForm"
    (ngSubmit)="handleSendParcelFormSubmit()"
  >
    <ng-container *ngIf="_places$ | async as places">
      <pu-place-field
        class="pu-form__field"
        [puLabel]="'fieldLabel.departurePlace' | translate"
        [puPlaceholder]="'fieldPlaceholder.departurePlace' | translate"
        [places]="places"
        formControlName="departurePlace"
      ></pu-place-field>

      <pu-field-errors
        class="pu-form__field-errors"
        [areErrorsVisible]="_sendParcelForm.controls.departurePlace.touched"
        [errors]="_sendParcelForm.controls.departurePlace.errors"
        [errorsMappings]="{
          required: 'fieldError.departurePlaceIsRequired' | translate
        }"
      ></pu-field-errors>

      <pu-place-field
        class="pu-form__field"
        [puLabel]="'fieldLabel.destination' | translate"
        [puPlaceholder]="'fieldPlaceholder.destination' | translate"
        [places]="places"
        formControlName="destination"
      ></pu-place-field>

      <pu-field-errors
        class="pu-form__field-errors"
        [areErrorsVisible]="_sendParcelForm.controls.destination.touched"
        [errors]="_sendParcelForm.controls.destination.errors"
        [errorsMappings]="{
          required: 'fieldError.destinationIsRequired' | translate
        }"
      ></pu-field-errors>
    </ng-container>

    <pu-date-range-field
      class="pu-form__field"
      [puLabel]="'fieldLabel.validityPeriod' | translate"
      [puStartDatePlaceholder]="
        'fieldPlaceholder.validityPeriodStartDate' | translate
      "
      [puEndDatePlaceholder]="
        'fieldPlaceholder.validityPeriodEndDate' | translate
      "
      formControlName="validityPeriod"
    ></pu-date-range-field>

    <pu-field-errors
      class="pu-form__field-errors"
      [areErrorsVisible]="_sendParcelForm.controls.validityPeriod.touched"
      [errors]="_sendParcelForm.controls.validityPeriod.errors"
      [errorsMappings]="{
        startDateRequired:
          'fieldError.validityPeriodStartDateIsRequired' | translate,
        endDateRequired:
          'fieldError.validityPeriodEndDateIsRequired' | translate
      }"
    ></pu-field-errors>

    <pu-textarea-field
      class="pu-form__field"
      [puLabel]="'fieldLabel.description' | translate"
      [puPlaceholder]="'fieldPlaceholder.description' | translate"
      [puMaxLength]="_config.descriptionMaxLength"
      formControlName="description"
    ></pu-textarea-field>

    <pu-field-errors
      class="pu-form__field-errors"
      [areErrorsVisible]="_sendParcelForm.controls.description.touched"
      [errors]="_sendParcelForm.controls.description.errors"
      [errorsMappings]="{
        required: 'fieldError.descriptionIsRequired' | translate,
      }"
    ></pu-field-errors>

    <pu-text-field
      class="pu-form__field"
      [puLabel]="'fieldLabel.fullName' | translate"
      [puPlaceholder]="'fieldPlaceholder.fullName' | translate"
      [puMaxLength]="_config.fullNameMaxLength"
      [isCapitalized]="true"
      formControlName="fullName"
    ></pu-text-field>

    <pu-field-errors
      class="pu-form__field-errors"
      [areErrorsVisible]="_sendParcelForm.controls.fullName.touched"
      [errors]="_sendParcelForm.controls.fullName.errors"
      [errorsMappings]="{
        required: 'fieldError.fullNameIsRequired' | translate
      }"
    ></pu-field-errors>

    <pu-email-field
      class="pu-form__field"
      [puLabel]="'fieldLabel.email' | translate"
      [puPlaceholder]="'fieldPlaceholder.email' | translate"
      [puMaxLength]="_config.emailMaxLength"
      formControlName="email"
    ></pu-email-field>

    <pu-field-errors
      class="pu-form__field-errors"
      [areErrorsVisible]="_sendParcelForm.controls.email.touched"
      [errors]="_sendParcelForm.controls.email.errors"
      [errorsMappings]="{
        required: 'fieldError.emailIsRequired' | translate,
        emailFormat: 'fieldError.incorrectEmailFormat' | translate
      }"
    ></pu-field-errors>

    <pu-phone-field
      class="pu-form__field"
      [puLabel]="'fieldLabel.notRequiredPhone' | translate"
      [puCountryCodePlaceholder]="'fieldPlaceholder.countryCode' | translate"
      [puNumberPlaceholder]="'fieldPlaceholder.phoneNumber' | translate"
      formControlName="phone"
    ></pu-phone-field>

    <pu-field-errors
      class="pu-form__field-errors"
      [areErrorsVisible]="_sendParcelForm.controls.phone.touched"
      [errors]="_sendParcelForm.controls.phone.errors"
      [errorsMappings]="{
        countryCodeRequired: 'fieldError.countryCodeIsMissing' | translate,
        phoneNumberRequired: 'fieldError.phoneNumberIsMissing' | translate,
        phoneNumberFormat: 'fieldError.incorrectPhoneNumberFormat' | translate
      }"
    ></pu-field-errors>

    <pu-checkbox-field
      class="pu-form__field"
      [puLabel]="'allowedItemsConfirmationText' | translate"
      formControlName="allowedItemsConfirmation"
    ></pu-checkbox-field>

    <div class="checkboxes-spacer"></div>

    <pu-checkbox-field
      class="pu-form__field"
      [puLabel]="'noServiceResponsibilityConfirmationText' | translate"
      formControlName="noServiceResponsibilityConfirmation"
    ></pu-checkbox-field>

    <ng-container *ngIf="_state$ | async as state">
      <button
        class="pu-form__submit-button"
        puAccentButton
        [isLoading]="state.isLoading"
        [disabled]="_sendParcelForm.invalid || state.isLoading"
        type="submit"
      >
        <span>{{ "actionLabel.createApplication" | translate }}</span>
      </button>
    </ng-container>
  </form>
</ng-container>
