<div class="title">Pushka</div>

<div class="spacer"></div>

<div class="actions">
  <pu-localization-selection-container class="actions__item" />

  @if (_user$ | async; as user) {
    <button
      class="actions__item open-account-menu-button"
      [cdkMenuTriggerFor]="accountMenu"
      [cdkMenuTriggerData]="{ user }"
      type="button"
      aria-label="Open account menu"
    >
      <pu-account-avatar class="avatar" />
    </button>
  } @else {
    <button
      class="actions__item"
      puSecondaryButton
      type="button"
      (click)="openEntryDialog()"
    >
      <span>{{ "actionLabel.login" | translate }}</span>
    </button>
  }
</div>

<ng-template #accountMenu let-user="user">
  <pu-account-menu
    class="account-menu"
    [userEmail]="user.email"
    (logout)="logoutUser()"
  />
</ng-template>
