:host {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: var(--primary-color);
}

.title {
  flex-shrink: 0;
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--primary-contrast-color);
}

.spacer {
  flex-grow: 1;
}

.actions {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.actions__item {
  flex-shrink: 0;

  &:not(:last-child) {
    margin-right: 16px;
  }
}

.open-account-menu-button {
  width: 40px;
  height: 40px;
}

.account-menu {
  margin-top: 8px;
}
