<div class="title">Pushka</div>

<div class="spacer"></div>

<div class="actions">
  <pu-localization-selection-container class="actions__item" />

  @if (_user(); as user) {
    <button
      class="actions__item actions__item--menu actions__item--account-menu"
      [class.actions__item--with-badge]="_isAppUpdateAvailable()"
      [cdkMenuTriggerFor]="menu"
      [cdkMenuTriggerData]="{ user }"
      type="button"
      aria-label="Open account menu"
    ></button>
  } @else {
    <button
      class="actions__item actions__item--menu"
      [class.actions__item--with-badge]="_isAppUpdateAvailable()"
      [cdkMenuTriggerFor]="menu"
      [cdkMenuTriggerData]="{ user: null }"
      type="button"
      aria-label="Open menu"
    ></button>
  }
</div>

<ng-template #menu let-user="user">
  <pu-menu
    class="menu"
    [user]="user"
    (logout)="logoutUser()"
    (login)="openEntryDialog()"
    (update)="updateApp()"
  />
</ng-template>
