<button
  class="close-dialog-button"
  puIconButton
  puIconSrc="/assets/icons/white-cross.svg"
  puIconAlt="Cross"
  puAriaLabel="Close Dialog"
  type="button"
  (click)="closeDialog()"
></button>

<pu-dialog-tabs>
  @for (tab of _dialogTabsService.tabs(); track tab.label) {
    <button
      puDialogTabItem
      [isActive]="_dialogTabsService.checkIsTabActive(tab)"
      type="button"
      (click)="_dialogTabsService.activateTab(tab)"
    >
      {{ tab.label | translate }}
    </button>
  }
</pu-dialog-tabs>

<section class="dialog-content">
  @if (_isFirstTabActive()) {
    <section class="instructions">
      <h1 class="instructions__title">
        {{ "callToAction.finishLogin" | translate }}
      </h1>

      <p class="instructions__message">
        {{ "yourApplicationWillBePublishedAfterLogin" | translate }}
      </p>
    </section>

    <pu-login-form
      [initialEmail]="_data.email"
      (success)="handleSuccessLogin()"
    />
  } @else {
    <section class="instructions">
      <h1 class="instructions__title">
        {{ "callToAction.finishSignUp" | translate }}
      </h1>

      <p class="instructions__message">
        {{ "yourApplicationWillBePublishedAfterAccountActivation" | translate }}
      </p>
    </section>

    <pu-register-form
      [initialEmail]="_data.email"
      [initialFullName]="_data.fullName"
      (success)="handleSuccessRegister($event)"
    />
  }
</section>
