@import "../../../styles/screen-size-mixins";

:host {
  position: relative;
  display: block;
  margin: 0 16px;
}

// TODO: Some shared styles?
.close-dialog-button {
  position: absolute;
  top: -54px;
  right: 0;
  z-index: 1;
  width: 40px;
  height: 40px;
  background-color: var(--black-color);
}

.dialog-content {
  position: relative;
  z-index: 1;
  padding-bottom: 24px;
  background-color: var(--white-color);
  border-radius: 0 0 24px 24px;
}

.instructions {
  padding: 40px 12px 24px 12px;
}

.instructions__title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
}

.instructions__message {
  font-size: 1.6rem;
  text-align: center;
}

@include for-laptop {
  :host {
    margin: 0;
    padding: 72px;
    background-color: var(--primary-color);
    border-radius: 88px;
  }

  .close-dialog-button {
    top: 34px;
    right: 34px;
    background-color: transparent;
  }

  .dialog-content {
    padding-bottom: 40px;
  }

  .instructions {
    padding: 40px 50px 24px 50px;
  }

  .instructions__title {
    font-size: 2.4rem;
  }
}
