:host {
  display: flex;
  flex-direction: column;
}

.header {
  flex-shrink: 0;
}

.representation {
  flex-shrink: 0;
}

.navigation {
  flex-shrink: 0;
}

.main {
  flex-shrink: 0;
}

.footer {
  flex-shrink: 0;
}
