@import "../../../styles/screen-size-mixins";

:host {
  display: block;
  padding: 0 12px;
  overflow-y: auto;
}

.pu-form__submit-button {
  margin-top: 40px;
}

@include for-laptop {
  :host {
    padding: 0 50px;
  }
}
