:host {
  display: flex;
  align-items: center;
}

.departure,
.arrival {
  flex-shrink: 0;
}

.direction-icon {
  flex-shrink: 0;
  margin: 0 16px;
}

.place-name {
  min-height: 23px;
  margin-bottom: 4px;
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--black-color);
}

.date {
  color: var(--gray-color);
}

