@if (_application.value(); as application) {
  <div class="departure">
    <div class="place-name">
      {{ application.departurePlace | cardPlaceLabel | translate }}
    </div>

    <div class="date" [class.date--expired]="application.isExpired">
      {{ application.validityPeriodStart | date : _dateViewFormat }}
    </div>
  </div>

  <div class="image"></div>

  <div class="arrival">
    <div class="place-name">
      {{ application.destination | cardPlaceLabel | translate }}
    </div>

    <div class="date" [class.date--expired]="application.isExpired">
      {{ application.validityPeriodEnd | date : _dateViewFormat }}
    </div>
  </div>
}
