<form
  class="pu-form"
  [formGroup]="_loginForm"
  (ngSubmit)="handleLoginFormSubmit()"
>
  <pu-email-field
    class="pu-form__field"
    [puLabel]="'fieldLabel.email' | translate"
    [puPlaceholder]="'fieldPlaceholder.email' | translate"
    [puMaxLength]="_config.emailMaxLength"
    puAutocomplete="email"
    formControlName="email"
  ></pu-email-field>

  <pu-field-errors
    class="pu-form__field-errors"
    [areErrorsVisible]="_loginForm.controls.email.touched"
    [errors]="_loginForm.controls.email.errors"
    [errorsMappings]="{
      required: 'fieldError.emailIsRequired' | translate,
      emailFormat: 'fieldError.incorrectEmailFormat' | translate
    }"
  ></pu-field-errors>

  <pu-password-field
    class="pu-form__field"
    [puLabel]="'fieldLabel.password' | translate"
    [puPlaceholder]="'fieldPlaceholder.password' | translate"
    autocomplete="current-password"
    formControlName="password"
  ></pu-password-field>

  <pu-field-errors
    class="pu-form__field-errors"
    [areErrorsVisible]="_loginForm.controls.password.touched"
    [errors]="_loginForm.controls.password.errors"
    [errorsMappings]="{
      required: 'fieldError.passwordIsRequired' | translate,
      maxlength: 'fieldError.passwordIsTooLong' | translate : _loginForm.controls.password.errors?.['maxlength']
    }"
  ></pu-field-errors>

  <ng-container *ngIf="state$ | async as state">
    <button
      class="pu-form__submit-button"
      puAccentButton
      [isLoading]="state.isLoading"
      [disabled]="_loginForm.invalid || state.isLoading"
      type="submit"
    >
      <span>{{ "actionLabel.login" | translate }}</span>
    </button>
  </ng-container>
</form>
