<label class="pu-label" [for]="_idDirective.id()">{{
  _labelDirective.label()
}}</label>

<div class="pu-field-container">
  <img
    class="mail-icon"
    ngSrc="/assets/icons/mail.svg"
    alt="Mail"
    width="24"
    height="24"
  />

  <input
    #fieldRef
    class="pu-field"
    [id]="_idDirective.id()"
    [placeholder]="_placeholderDirective.placeholder()"
    [maxLength]="_maxLength()"
    [value]="_value()"
    type="email"
    inputmode="email"
    (input)="handleFieldInput(fieldRef.value)"
    (blur)="handleFieldBlur()"
  />
</div>
