:host {
  display: flex;
  flex-direction: column;
}

.pu-field {
  height: var(--base-field-height);
  padding: 0 var(--base-field-padding) 0 48px;
}

.mail-icon {
  pointer-events: none;
  position: absolute;
  top: 16px;
  left: var(--base-field-padding);
}
