:host {
  display: flex;
  flex-direction: column;
}

.pu-field {
  height: var(--base-field-height);
  padding: 0 var(--base-field-padding) 0 44px;
}

.mail-icon {
  pointer-events: none;
  position: absolute;
  bottom: 16px;
  left: 10px;
}
