<div class="pu-label-and-characters-counter">
  <label
    class="pu-label"
    [class.pu-label--disabled]="_isDisabled()"
    [for]="_idDirective.id()"
    >{{ _labelDirective.label() }}</label
  >

  <div
    class="pu-characters-counter"
    [class.pu-characters-counter--disabled]="_isDisabled()"
  >
    <span>{{ _value().length }}</span>
    <span>/</span>
    <span>{{ _maxLength() }}</span>
  </div>
</div>

<input
  #fieldRef
  [id]="_idDirective.id()"
  class="pu-field"
  [autocomplete]="_autocomplete.value()"
  [placeholder]="_placeholderDirective.placeholder()"
  [maxLength]="_maxLength()"
  [value]="_value()"
  [disabled]="_isDisabled()"
  type="text"
  (input)="handleFieldInput(fieldRef.value)"
  (blur)="handleFieldBlur()"
/>
