@if (_application.value(); as application) {
  @if (_isMine()) {
    <pu-application-card-header
      class="header"
      [applicationType]="_type"
      [isApplicationExpired]="application.isExpired"
      (deletionConfirm)="deleteHelpRequest(application.id)"
    />
  }

  <pu-help-request-card-transportation-info
    class="transportation-info"
    [application]="application"
  />

  <pu-application-card-comment
    class="comment"
    [application]="application"
  />

  <pu-application-card-user-details
    class="user-details"
    [application]="application"
  />
}

@if (_deleteHelpRequest.isDeleting()) {
  <div class="deleting-overlay">
    <pu-spinner
      class="deleting-overlay__spinner"
      color="primary"
      size="medium"
    />
  </div>
}
