<label
  class="pu-label"
  [class.pu-label--disabled]="_isDisabled()"
  [for]="_idDirective.id()"
>
  <span>{{ _labelDirective.label() }}</span>
</label>

<div class="pu-field-container">
  <mat-date-range-input
    class="date-range-input"
    [formGroup]="_dateRangeForm"
    [rangePicker]="dateRangePicker"
    [min]="_minDate()"
    [max]="_maxDate()"
    separator=""
  >
    <input
      #startDateRef
      [style.display]="'none'"
      matStartDate
      formControlName="start"
    />

    <input
      #endDateRef
      [style.display]="'none'"
      matEndDate
      formControlName="end"
    />

    <mat-date-range-picker
      #dateRangePicker
      [touchUi]="!_screenSize.isLaptop()"
      (closed)="touchField()"
    ></mat-date-range-picker>
  </mat-date-range-input>

  <input
    #fieldRef
    [id]="_idDirective.id()"
    class="pu-field"
    [class.pu-field--active]="dateRangePicker.opened"
    [disabled]="_isDisabled()"
    type="text"
    readonly
    (focus)="dateRangePicker.open()"
    (click)="fieldRef.blur(); fieldRef.focus()"
  />

  <input
    class="date-view-input date-view-input--start"
    [value]="startDateRef.value"
    [placeholder]="_startDatePlaceholder()"
    [disabled]="_isDisabled()"
    type="text"
    tabindex="-1"
  />

  <div class="arrow-icon"></div>

  <input
    class="date-view-input date-view-input--end"
    [value]="endDateRef.value"
    [placeholder]="_endDatePlaceholder()"
    [disabled]="_isDisabled()"
    type="text"
    tabindex="-1"
  />

  <div class="calendar-icon"></div>
</div>
