@if (_state(); as state) {
  <label
    class="pu-label"
    [class.pu-label--disabled]="_isDisabled()"
    [for]="_idDirective.id()"
    >{{ _labelDirective.label() }}</label
  >

  <div
    #overlayOrigin="cdkOverlayOrigin"
    cdkOverlayOrigin
    class="pu-field-container"
    [class.pu-field-container--active]="_isPanelOpened()"
  >
    <input
      #fieldRef
      [id]="_idDirective.id()"
      class="pu-field"
      [placeholder]="_placeholderDirective.placeholder()"
      [value]="state.fieldValue"
      puDisabled
      [disabled]="_isDisabled() || state.allPlaces.length === 0"
      type="text"
      (focus)="openPanel()"
      (input)="_service.handleFieldInput(fieldRef.value)"
    />

    @if (state.isClearAvailable) {
      <button
        class="clear-button"
        puDisabled
        [disabled]="_isDisabled()"
        type="button"
        aria-label="Clear place field text"
        (click)="_service.handleClear()"
      >
        <img
          ngSrc="/assets/icons/gray-cross.svg"
          alt="Cross"
          width="24"
          height="24"
        />
      </button>
    }
    
    @if (!state.isClearAvailable) {
      <img
        class="caret-icon"
        [class.caret-icon--rotated]="_isPanelOpened()"
        ngSrc="/assets/icons/gray-caret-down.svg"
        alt="Caret"
        width="24"
        height="24"
      />
    }
  </div>

  <ng-template
    cdkConnectedOverlay
    cdkConnectedOverlayHasBackdrop
    cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
    [cdkConnectedOverlayOrigin]="overlayOrigin"
    [cdkConnectedOverlayOpen]="_isPanelOpened()"
    [cdkConnectedOverlayWidth]="
      overlayOrigin.elementRef.nativeElement.offsetWidth
    "
    [cdkConnectedOverlayPositions]="_panelPositions"
    (detach)="closePanel(); fieldRef.blur()"
    (backdropClick)="closePanel()"
  >
    <pu-panel>
      @for (place of state.filteredPlaces; track place.id) {
        <button
          puPanelItem
          [isSelected]="place.id === state.selectedPlace?.id"
          type="button"
          (click)="selectPlace(place)"
        >
          <span>{{ place | translatedPlaceView }}</span>
        </button>
      } @empty {
        @for (place of state.otherCityPlaces; track place.id) {
          <button
            puPanelItem
            type="button"
            (click)="selectPlace(place)"
          >
            <span>{{ place | translatedPlaceView }}</span>
          </button>
        }
      }
    </pu-panel>
  </ng-template>
}
