:host {
  display: flex;
  flex-direction: column;
}

.pu-field {
  height: var(--base-field-height);
  padding: 0 48px 0 var(--base-field-padding);
}

.clear-button {
  position: absolute;
  right: var(--base-field-padding);
  bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.caret-icon {
  pointer-events: none;
  position: absolute;
  right: var(--base-field-padding);
  bottom: 16px;
  transition: transform 0.25s ease-in-out;

  &.rotated {
    transform: rotate(180deg);
  }
}

.panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: calc(44px * 5) + 16px;
  margin: 4px 0;
  padding: 8px 0;
  background-color: var(--white-color);
  border-radius: 16px;
  box-shadow: var(--menu-box-shadow);
  overflow-y: auto;
}

.panel__item {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 44px;
  padding: 0 16px;
  color: var(--white-contrast-color);
}
