:host {
  display: flex;
  flex-direction: column;
}

.country-code-field {
  // TODO
  position: absolute;
}

.pu-field {
  height: var(--base-field-height);
  padding: 0 var(--base-field-padding);
}
