<label class="pu-label" [for]="_idDirective.id()">{{
  _labelDirective.label()
}}</label>

<form class="phone-form" [formGroup]="_phoneForm">
  <pu-country-code-field
    class="country-code-field"
    puAriaLabel="Country code"
    formControlName="countryCode"
  ></pu-country-code-field>

  <input
    [id]="_idDirective.id()"
    class="pu-field"
    [placeholder]="_placeholderDirective.placeholder()"
    type="tel"
    inputmode="numeric"
    pattern="[0-9]*"
    formControlName="number"
  />
</form>

<pu-field-errors
  class="pu-field-errors"
  [errorMessage]="_errorMessage()"
></pu-field-errors>
