@for (myApplication of _myApplicationsList(); track myApplication.id) {
  <pu-my-application-card
    @fadeInSlideOut
    class="application-card"
    [application]="myApplication"
    (deleted)="myApplicationDeleted.emit(myApplication)"
  />
} @empty {
  <div class="empty-list">
    <p>No items found.</p>
  </div>
}

@if (_fabIsVisible()) {
  <button
    class="fab"
    puIconButton
    puIconSrc="/assets/icons/white-caret-up.svg"
    puIconAlt="Caret up"
    puAriaLabel="Scroll to the start of the list"
    puIconWidth="32"
    puIconHeight="32"
    (click)="scrollToTheBeginning()"
  ></button>
}
