@import '../../../styles/screen-size-mixins';

:host {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  border-radius: 16px;
  box-shadow: var(--menu-box-shadow);
  overflow: hidden;
}

.account-info {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 64px;
  padding: 0 16px;
  border-bottom: 1px solid var(--divider-color);
}

.avatar {
  flex-shrink: 0;
  margin-right: 8px;
}

.email {
  flex-shrink: 0;
}

.logout-button {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 56px;
  padding: 0 16px;
}

.logout-icon {
  flex-shrink: 0;
  margin-right: 8px;
}

.logout-label {
  flex-shrink: 0;
  color: var(--black-color);
}

@include for-laptop {
  .account-info {
    padding: 0 20px;
  }

  .email {
    font-size: 2rem;
  }

  .logout-button {
    height: 65px;
    padding: 0 20px;
  }

  .logout-label {
    font-size: 2rem;
  }
}
