:host {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  border-radius: 16px;
  box-shadow: var(--menu-box-shadow);
  overflow: hidden;
}

.account-info {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 12px 16px;
  border-bottom: 1px solid var(--divider-color);
}

.avatar {
  flex-shrink: 0;
  margin-right: 8px;
}

.email {
  flex-shrink: 0;
}

.logout-button {
  display: flex;
  align-items: center;
  padding: 12px 16px;
}

.logout-icon {
  flex-shrink: 0;
  margin-right: 8px;
}

.logout-label {
  flex-shrink: 0;
  color: var(--black-color);
}
