:host {
  display: block;
  padding: 7px 0;
}

.text {
  display: inline;
  font-size: 1rem;
  font-weight: 400;
  color: var(--black-color);
  line-height: 1.5rem;
}

.more {
  display: inline;
  margin-left: 5px;
  font-size: 1rem;
  font-weight: 700;
  color: var(--accent-color);
}
