:host {
  display: block;
}

.text {
  --max-lines: 3;

  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
  line-height: 2rem;
  overflow: hidden;

  &:has(+ .expand-text-button:checked) {
    -webkit-line-clamp: initial;
  }
}

.expand-text-label {
  font-weight: 600;
  color: var(--accent-color);
  line-height: 2rem;
}

.expand-text-button {
  display: none;
}
