:host {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: var(--white-color);
  border-radius: 16px;
  box-shadow: 2px 4px 14px 0px rgba(0, 0, 0, 0.08);
}

.transportation-info {
  flex-shrink: 0;
  margin-bottom: 12px;
}

.comment {
  flex-shrink: 0;
}

.user-details {
  flex-shrink: 0;
  margin-top: 12px;
}
