:host {
  display: inline-block;
  height: 40px;
  padding: 0 24px;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--primary-color);
  background-color: var(--secondary-button-color);
  border-radius: 30px;

  &:focus {
    color: var(--primary-focused-color);
  }

  &:active {
    color: var(--primary-active-color);
  }

  &:disabled {
    color: var(--disabled-button-text-color);
    background-color: var(--disabled-button-color);
  }
}
