:host {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--background-gray-color);
  border-radius: 50%;
}

.avatar-icon {
  flex-shrink: 0;
}
