:host {
  position: relative;
  display: block;
  height: 210px;
  padding: 0 16px;
}

.title {
  color: var(--primary-contrast-color);
  line-height: 2.1rem;
}

.image {
  position: absolute;
  right: 16px;
  bottom: 20px;
  width: 220px;
}
