@import "../../../styles/screen-size-mixins";

:host {
  position: relative;
  display: block;
  height: 175px;
}

.title {
  position: relative;
  z-index: 1;
  color: var(--primary-contrast-color);
  line-height: 1.4;
}

.image {
  pointer-events: none;
  position: absolute;
  right: -5px;
  bottom: 11px;
  width: 240px;
  height: 96px;
  background-image: url("/assets/images/representation.svg");
  background-size: 100% 100%;
}

@include for-laptop {
  :host {
    height: 232px;
  }

  .title {
    pointer-events: none;
    padding-top: 20px;
    padding-right: 420px;
    font-size: 4.3rem;
  }

  .image {
    cursor: grab;
    pointer-events: all;
    right: 0;
    bottom: 49px;
    width: 505px;
    height: 202px;

    &:active {
      cursor: grabbing;
      z-index: 100000;
    }

    &:not(:active) {
      z-index: 0;
      transition: all 0.5s ease-in-out;
    }
  }
}
