@import "../../../styles/screen-size-mixins";

:host {
  position: relative;
  display: block;
  height: 175px;
}

.title {
  position: relative;
  z-index: 1;
  color: var(--primary-contrast-color);
  line-height: 1.4;
}

.image {
  position: absolute;
  right: 16px;
  bottom: 7px;
  width: 213px;
  height: 109px;
  background-image: url("/assets/images/mobile-representation.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@include for-laptop {
  :host {
    height: 232px;
  }

  .title {
    padding-top: 20px;
    padding-right: 420px;
    font-size: 4.3rem;
  }

  .image {
    top: -40px;
    right: var(--laptop-horizontal-padding);
    bottom: 0;
    width: 441px;
    height: 263px;
    background-image: url("/assets/images/laptop-representation.png");
  }
}
