:host {
  display: flex;
  flex-direction: column;
  padding: 40px 16px 48px 16px;
}

.title {
  flex-shrink: 0;
  text-align: center;
  margin-bottom: 28px;
}

.message {
  flex-shrink: 0;
  text-align: center;
  margin-bottom: 28px;
}

.illustration {
  flex-shrink: 0;
  height: 100px;
  margin-bottom: 40px;
}

.refresh-button {
  flex-shrink: 0;
}