@import '../../../styles/screen-size-mixins';

:host {
  display: block;
  height: 52px;
  background-color: var(--accent-color);
}

.inner {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 16px;
}

.copyright {
  flex-shrink: 0;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--accent-contrast-color);
}

.spacer {
  flex-grow: 1;
}

.socials {
  display: flex;
  flex-shrink: 0;
}

.socials__item {
  flex-shrink: 0;
}

@include for-laptop {
  :host {
    height: 72px;
  }

  .inner {
    max-width: var(--laptop-max-width);
    margin: 0 auto;
    padding: 0 var(--laptop-horizontal-padding);
  }
}
