@import '../../../styles/screen-size-mixins';

:host {
  position: relative;
  display: block;
  margin: 0 16px;
}

.close-dialog-button {
  position: absolute;
  top: -54px;
  right: 0;
  z-index: 1;
  width: 40px;
  height: 40px;
  background-color: var(--black-color);
}

.form-container {
  position: relative;
  z-index: 1;
  padding: 40px 0 24px 0;
  background-color: var(--white-color);
  border-radius: 0 0 24px 24px;
}

@include for-laptop {
  :host {
    margin: 0;
    padding: 72px;
    background-color: var(--primary-color);
    border-radius: 88px;
  }

  .close-dialog-button {
    top: 34px;
    right: 34px;
    background-color: transparent;
  }

  .form-container {
    padding: 40px 0;
    border-radius: 0 0 16px 16px;
  }
}
