<button
  class="close-dialog-button"
  puIconButton
  puIconSrc="/assets/icons/white-cross.svg"
  puIconAlt="Cross"
  puAriaLabel="Close Dialog"
  type="button"
  (click)="closeDialog()"
></button>

<pu-dialog-tabs>
  @for (tab of _dialogTabsService.tabs(); track tab.label) {
    <button
      puDialogTabItem
      [isActive]="_dialogTabsService.checkIsTabActive(tab)"
      type="button"
      (click)="_dialogTabsService.activateTab(tab)"
    >
      <span>{{ tab.label | translate }}</span>
    </button>
  }
</pu-dialog-tabs>

<div class="form-container">
  @if (_isFirstTabActive()) {
    <pu-login-form (success)="handleSuccessLogin()" />
  } @else {
    <pu-register-form (success)="handleSuccessRegister()" />
  }
</div>
