@for (deliveryOffer of _deliveryOffersList(); track deliveryOffer.id) {
  <pu-delivery-offer-card
    @fadeInSlideOut
    class="application-card"
    [isMine]="_user()?.id === deliveryOffer.userId"
    [application]="deliveryOffer"
    (deleted)="deliveryOfferDeleted.emit(deliveryOffer)"
  />
} @empty {
  <div class="empty-list">
    <p>No results found.</p>
  </div>
}

@if (_fabIsVisible()) {
  <button
    class="fab"
    puIconButton
    puIconSrc="/assets/icons/white-caret-up.svg"
    puIconAlt="Caret up"
    puAriaLabel="Scroll to the start of the list"
    puIconWidth="32"
    puIconHeight="32"
    type="button"
    (click)="scrollToTheBeginning()"
  ></button>
}
