@for (deliveryOffer of _deliveryOffersList(); track deliveryOffer.id) {
  <pu-delivery-offer-card
    @fadeInSlideOut
    class="application-card"
    [isMine]="_user()?.id === deliveryOffer.userId"
    [application]="deliveryOffer"
    (deleted)="deliveryOfferDeleted.emit(deliveryOffer)"
  />
} @empty {
  <div class="empty-list">
    <p>{{ 'theListIsEmpty' | translate }}</p>
  </div>
}

@if (_fabIsVisible()) {
  <div class="fab-container">
    <button
      class="fab"
      type="button"
      aria-label="Scroll to the beginning of the list"
      (click)="scrollToTheBeginning()"
    ></button>
  </div>
}
