<div
  cdkOverlayOrigin
  #overlayOrigin="cdkOverlayOrigin"
  class="pu-field-container"
  [class.pu-field-container--active]="_panel.isOpened()"
>
  <button
    class="pu-field"
    [disabled]="_isDisabled()"
    type="button"
    (click)="_panel.toggle()"
  >
    @if (_selectedOption()?.label; as selectedOptionLabel) {
      <span>{{ selectedOptionLabel | translate }}</span>
    } @else {
      <span></span>
    }
  </button>

  <div class="caret-icon" [class.caret-icon--rotated]="_panel.isOpened()"></div>
</div>

<ng-template
  cdkConnectedOverlay
  cdkConnectedOverlayHasBackdrop
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  [cdkConnectedOverlayOrigin]="overlayOrigin"
  [cdkConnectedOverlayWidth]="
    overlayOrigin.elementRef.nativeElement.offsetWidth
  "
  [cdkConnectedOverlayOpen]="_panel.isOpened()"
  (detach)="_panel.close()"
  (backdropClick)="_panel.close()"
>
  <pu-panel>
    @for (option of _options(); track option.type) {
      <button puPanelItem type="button" (click)="selectOption(option)">
        {{ option.label | translate }}
      </button>
    }
  </pu-panel>
</ng-template>
