@if (_application.value(); as application) {
  <div class="user">
    <pu-account-avatar
      class="avatar"
      [isTransparent]="application.isExpired"
    />

    <div class="full-name-and-show-contacts">
      <div class="full-name">
        <span>{{ application.fullName }}</span>
      </div>

      <label class="show-contacts-label" [for]="_showContactsButtonId">
        <span class="show-contacts-label__text">
          {{ "actionLabel.contacts" | translate }}
        </span>

        <img
          class="show-contacts-label__icon"
          ngSrc="/assets/icons/gray-caret-down.svg"
          alt="Caret"
          width="24"
          height="24"
        />
      </label>

      <input
        #checkbox
        [id]="_showContactsButtonId"
        class="show-contacts-button"
        type="checkbox"
        (change)="_areContactsShown.set(checkbox.checked)"
      />
    </div>
  </div>

  @if (_areContactsShown()) {
    <div class="contacts">
      @if (application.phone) {
        <pu-phone
          class="contacts__item"
          [phone]="application.phone"
          [isDim]="application.isExpired"
        />
      }

      <pu-email
        class="contacts__item"
        [email]="application.email"
        [isDim]="application.isExpired"
      />
    </div>
  }
}
