<div class="user">
  <img
    class="avatar"
    ngSrc="/assets/images/default-avatar-image.svg"
    alt="Avatar"
    width="40"
    height="40"
  />

  <div class="full-name-and-show-contacts">
    <div class="full-name">
      <span>Матвей</span>
    </div>

    <label class="show-contacts-label" [for]="_showContactsButtonId">
      <span class="show-contacts-label__text">Контакты</span>
      <img
        class="show-contacts-label__icon"
        ngSrc="/assets/icons/gray-caret-up.svg"
        alt="Caret"
        width="24"
        height="24"
      />
    </label>
    <input
      #checkbox
      [id]="_showContactsButtonId"
      class="show-contacts-button"
      type="checkbox"
      (change)="_areContactsShown.set(checkbox.checked)"
    />
  </div>
</div>

<div class="contacts" *ngIf="_areContactsShown()">
  <pu-phone class="contacts__item" [phone]="phone"></pu-phone>
  <pu-email class="contacts__item" [email]="email"></pu-email>
</div>
