@for (helpRequest of _helpRequestsList(); track helpRequest.id) {
  <pu-help-request-card
    @fadeInSlideOut
    class="application-card"
    [isMine]="_user()?.id === helpRequest.userId"
    [application]="helpRequest"
    (deleted)="helpRequestDeleted.emit(helpRequest)"
  />
} @empty {
  <div class="empty-list">
    <p>{{ 'theListIsEmpty' | translate }}</p>
  </div>
}

@if (_fabIsVisible()) {
  <div class="fab-container">
    <button
      class="fab"
      aria-label="Scroll to the beginning of the list"
      (click)="scrollToTheBeginning()"
    ></button>
  </div>
}
