@for (helpRequest of _helpRequestsList(); track helpRequest.id) {
  <pu-help-request-card
    class="application-card"
    [isMine]="_user()?.id === helpRequest.userId"
    [application]="helpRequest"
  />
} @empty {
  <div class="empty-list">
    <p>No results found.</p>
  </div>
}

@if (_fabIsVisible()) {
  <button
    class="fab"
    puIconButton
    puIconSrc="/assets/icons/white-caret-up.svg"
    puIconAlt="Caret up"
    puAriaLabel="Scroll to the start of the list"
    puIconWidth="32"
    puIconHeight="32"
    (click)="scrollToTop()"
  ></button>
}
