:host {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 44px;
  padding: 0 16px;
  color: var(--white-contrast-color);
  text-align: left;

  &.pu-panel-item--placeholder {
    color: var(--hint-text-color);
  }
}
