<button
  class="close-dialog-button"
  type="button"
  aria-label="Close dialog"
  (click)="closeDialog()"
></button>

<section class="dialog-window">
  <h1 class="title">{{ "deleteApplicationDialog.title" | translate }}</h1>

  <p class="message">{{ "deleteApplicationDialog.message" | translate }}</p>

  <div class="illustration"></div>

  <div class="actions">
    <button
      class="actions__item delete-button"
      puAccentButton
      type="button"
      (click)="closeDialog(true)"
    >
      <span>{{ "actionLabel.delete" | translate }}</span>
    </button>

    <button
      class="actions__item cancel-button"
      puSecondaryButton
      type="button"
      (click)="closeDialog()"
    >
      <span>{{ "actionLabel.cancel" | translate }}</span>
    </button>
  </div>
</section>
