:host {
  display: block;
}

.tabs {
  display: flex;
  justify-content: center;
  height: 60px;
  padding: 12px 8px 0 8px;
  background-color: var(--white-color);
}

.tabs__item {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  color: var(--white-contrast-color);

  &:not(:first-child) {
    margin-left: 20px;
  }

  &.tabs__item--active {
    font-weight: 700;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -2px;
      left: 0;
      z-index: 1;
      height: 4px;
      background-color: var(--primary-color);
      border-radius: 20px;
    }
  }
}
