<p class="text" matSnackBarLabel>{{ _data.message | translate }}</p>

<span class="actions" matSnackBarActions>
  @if (_data.config.actionLabel; as actionLabel) {
    <button
      class="actions__item actions__item--labeled"
      matSnackBarAction
      type="button"
      (click)="_snackBarRef.dismissWithAction()"
    >
      {{ actionLabel | translate }}
    </button>
  }
  
  @if (_data.config.showClose) {
    <button
      class="actions__item actions__item--close"
      matSnackBarAction
      aria-label="Close snack bar"
      type="button"
      (click)="_snackBarRef.dismissWithAction()"
    ></button>
  }
</span>
