@if (_service.state(); as state) {
  @if (state.isLoading) {
    <div class="loading-view">
      <pu-spinner class="spinner" size="big" color="primary" />
    </div>
  } @else if (state.helpRequestsList) {
    <div class="content-view">
      @if (state.helpRequestsList.content.length; as applicationsCount) {
        <pu-filter-by-place-field
          class="filter-by-place"
          [value]="_service.filterByPlaceValue()"
          (valueChange)="_service.handleFilterByPlaceChange($event)"
          (filter)="_service.fetchPublishedHelpRequests()"
        />

        <div class="applications-count-and-clear-filter-button">
          <div class="applications-count">
            {{ "applicationsCount" | translate : { count: applicationsCount } }}
          </div>

          <div class="spacer"></div>

          @if (!_service.filterByPlaceValue().isEmpty) {
            <button
              class="clear-filter-button"
              type="button"
              (click)="_service.handleClearFilterByPlace()"
            >
              <img
                class="clear-filter-icon"
                ngSrc="/assets/icons/accent-cross.svg"
                alt="Cross"
                width="24"
                height="24"
              />

              <span class="clear-filter-text">{{
                "actionLabel.clearFilter" | translate
              }}</span>
            </button>
          }
        </div>
      }
      
      <pu-help-requests-list
        class="applications-list"
        [helpRequestsList]="state.helpRequestsList"
      />
    </div>
  } @else if (state.responseErrorMessage) {
    <div class="error-view">
      <p>{{ state.responseErrorMessage }}</p>
    </div>
  }
}
