<label
  class="pu-label"
  [class.pu-label--disabled]="_isDisabled()"
  [for]="_idDirective.id()"
  >{{ _labelDirective.label() }}</label
>

<div class="pu-field-container">
  <div
    class="lock-icon"
    [class.lock-icon--unlocked]="_isPasswordVisible()"
  ></div>

  <input
    #fieldRef
    [id]="_idDirective.id()"
    class="pu-field"
    [type]="_fieldType()"
    [placeholder]="_placeholderDirective.placeholder()"
    [disabled]="_isDisabled()"
    [value]="_value()"
    (input)="handleFieldInput(fieldRef.value)"
    (blur)="handleFieldBlur()"
  />

  <button
    class="visibility-toggle-button"
    [class.visibility-toggle-button--hide]="_isPasswordVisible()"
    [disabled]="_isDisabled()"
    [attr.aria-label]="_toggleVisibilityButtonAriaLabel()"
    type="button"
    (click)="toggleVisibility()"
  ></button>
</div>
