<label
  class="pu-label"
  [class.pu-label--disabled]="_isDisabled()"
  [for]="_idDirective.id()"
  >{{ _labelDirective.label() }}</label
>

<div class="pu-field-container">
  <img
    class="lock-icon"
    [ngSrc]="_lockIconSrc()"
    [alt]="_lockIconAlt()"
    width="24"
    height="24"
  />

  <input
    #fieldRef
    [id]="_idDirective.id()"
    class="pu-field"
    [type]="_fieldType()"
    [placeholder]="_placeholderDirective.placeholder()"
    [disabled]="_isDisabled()"
    [value]="_value()"
    (input)="handleFieldInput(fieldRef.value)"
    (blur)="handleFieldBlur()"
  />

  <button
    class="visibility-toggle-button"
    puIconButton
    [puIconSrc]="_eyeIconSrc()"
    [puIconAlt]="_eyeIconAlt()"
    [puAriaLabel]="_toggleVisibilityButtonAriaLabel()"
    [disabled]="_isDisabled()"
    type="button"
    (click)="toggleVisibility()"
  ></button>
</div>
