<label class="pu-label" [for]="_idDirective.id()">{{
  _labelDirective.label()
}}</label>

<div class="pu-field-container">
  <img
    class="lock-icon"
    [ngSrc]="_lockIconSrc()"
    [alt]="_lockIconAlt()"
    width="24"
    height="24"
  />

  <input
    #fieldRef
    [id]="_idDirective.id()"
    class="pu-field"
    [type]="_fieldType()"
    [placeholder]="_placeholderDirective.placeholder()"
    [maxLength]="_maxLength()"
    [disabled]="_isDisabled()"
    [value]="_value()"
    (input)="handleFieldInput(fieldRef.value)"
    (blur)="handleFieldBlur()"
  />

  <button
    class="visibility-toggle-button"
    [disabled]="_isDisabled()"
    type="button"
    (click)="toggleVisibility()"
  >
    <img [ngSrc]="_eyeIconSrc()" [alt]="_eyeIconAlt()" width="24" height="24" />
  </button>
</div>

<pu-field-errors
  class="pu-field-errors"
  [errorMessage]="_errorMessage()"
></pu-field-errors>
