:host {
  display: flex;
  flex-direction: column;
}

.lock-icon {
  pointer-events: none;
  position: absolute;
  top: 16px;
  left: var(--base-field-padding);
}

.pu-field {
  height: var(--base-field-height);
  padding: 0 48px;
}

.visibility-toggle-button {
  position: absolute;
  top: 16px;
  right: var(--base-field-padding);
  width: 24px;
  height: 24px;
}
