@if (_application.value(); as application) {
  <div class="direction">
    <div class="place-name">
      {{ application.departurePlace | cardPlaceLabel | translate }}
    </div>

    <div class="image"></div>

    <div class="place-name">
      {{ application.destination | cardPlaceLabel | translate }}
    </div>
  </div>

  <div class="validity-period-end">
    <span>{{ "applicationIsValidUntil" | translate }} </span>
    <span>{{ application.validityPeriodEnd | date : _dateViewFormat }}</span>
  </div>
}
