@import "../../styles/screen-size-mixins";

:host {
  display: block;
  flex-grow: 1;
}

.loading-view {
  display: flex;
  justify-content: center;
}

.loading-view__spinner {
  flex-shrink: 0;
  margin-top: 40px;
}

.empty-view {
  padding: 40px 16px 48px 16px;
}

.empty-view__message {
  line-height: 2rem;
  text-align: center;
}

.empty-view__navigation-link {
  margin: 0 3px;
  font-weight: 700;
}

.empty-view__illustration {
  width: 300px;
  height: 120px;
  margin-top: 28px;
  margin-right: auto;
  margin-left: auto;
  background-image: url("/assets/images/empty-list-of-applications.svg");
  background-size: 100% 100%;
}

.content-view {
  display: flex;
  flex-wrap: wrap;
}

.filter-by-place {
  width: 100%;
  margin: 28px 16px 20px 16px;
}

.applications-count {
  flex-shrink: 0;
  height: 2.4rem;
  margin: 0 0 10px 16px;
  color: var(--hint-text-color);
  line-height: 2.4rem;
}

.clear-filter-button-container {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin: 0 16px 10px 0;
}

.clear-filter-button {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 2.4rem;
}

.clear-filter-button__icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  background-image: url("/assets/icons/accent-cross.svg");
  background-size: 100% 100%;
}

.clear-filter-button__text {
  margin-left: 4px;
  font-weight: 700;
  color: var(--accent-color);
}

.applications-list {
  width: 100%;
}

@include for-laptop {
  .loading-view__spinner {
    margin-top: 70px;
  }

  .empty-view {
    padding: 40px 70px;
  }

  .empty-view__message {
    max-width: 640px;
    margin: 0 auto;
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  .empty-view__illustration {
    width: 400px;
    height: 160px;
    margin-top: 22px;
  }

  .content-view {
    justify-content: center;
  }

  .filter-by-place {
    flex-grow: 1;
    flex-shrink: 1;
    order: 2;
    width: auto;
    max-width: 506px;
    margin: 40px 0 30px 0;
  }

  .applications-count {
    display: none;
    order: 1;
  }

  .clear-filter-button-container {
    align-self: center;
    flex-grow: 0;
    flex-shrink: 0;
    order: 3;
    margin: 0;

    &:not(:empty) {
      margin: 10px 0 0 20px;
    }
  }

  .applications-list {
    order: 4;
  }
}
