:host {
  display: block;
  padding: 24px;
  background-color: var(--white-color);
  border-radius: 16px;
  box-shadow: 2px 4px 14px 0px rgba(0, 0, 0, 0.08);
}

.header {
  margin-bottom: 20px;
}

.transportation-info {
  margin-bottom: 12px;
}

.comment {
  margin-bottom: 12px;
}
