@import "../../styles/screen-size-mixins";

:host {
  position: relative;
  display: block;
  padding: 24px;
  background-color: var(--white-color);
  border-radius: 16px;
  box-shadow: 2px 4px 14px 0px rgba(0, 0, 0, 0.08);
  overflow: hidden;

  &.application-card--expired {
    background-color: var(--light-gray-color);
  }
}

.header {
  margin-bottom: 20px;
}

.transportation-info {
  margin-bottom: 12px;
}

.comment {
  margin-bottom: 12px;
}

.deleting-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.65);
}

.deleting-overlay__spinner {
  flex-shrink: 0;
}

@include for-laptop {
  :host {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 40px;
    max-width: 1060px;
  }

  .header {
    flex-shrink: 0;
    order: 1;
    width: 100%;
  }

  .transportation-info {
    flex-grow: 1;
    order: 2;
    margin-bottom: 0;
  }

  .comment {
    flex-shrink: 0;
    order: 4;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .user-details {
    align-self: center;
    flex-shrink: 0;
    order: 3;
    min-width: 320px;
  }
}
