:host {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 489px;
  padding: 16px 16px 0 16px;
  overflow-y: auto;
}

.application-card {
  flex-shrink: 0;

  &:not(:first-child) {
    margin-top: 11px;
  }
}

.empty-list-view {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.empty-list-view__message {
  flex-shrink: 0;
  text-align: center;
}

.illustration {
  margin-top: 28px;
}

.fab {
  position: sticky;
  bottom: 0;
  z-index: 1000;
  align-self: flex-end;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  margin-top: 12px;
  border-radius: 50%;
  background-color: var(--accent-color);

  &:focus {
    background-color: var(--accent-focused-color);
  }

  &:active {
    background-color: var(--accent-active-color);
  }
}
