:host {
  display: block;
  flex-grow: 1;
}

.loading-view {
  display: flex;
  justify-content: center;
}

.spinner {
  flex-shrink: 0;
  margin-top: 12px;
}

.content-view {
  display: flex;
  flex-direction: column;
}

.filter-by-place {
  flex-shrink: 0;
  margin: 28px 16px 12px 16px;
}

.applications-list {
  flex-shrink: 0;
}

.error-view {
}
