@import '../../styles/screen-size-mixins';

:host {
  display: block;
  flex-grow: 1;
}

.loading-view {
  display: flex;
  justify-content: center;
}

.loading-view__spinner {
  flex-shrink: 0;
  margin-top: 40px;
}

.empty-view {
  display: flex;
  flex-direction: column;
  padding: 40px 16px 48px 16px;
}

.empty-view__message {
  flex-shrink: 0;
  line-height: 2rem;
  text-align: center;
}

.empty-view__navigation-link {
  margin: 0 3px;
  font-weight: 700;
}

.empty-view__illustration {
  flex-shrink: 0;
  margin-top: 28px;
}

.content-view {
  display: flex;
  flex-direction: column;
}

.filter-by-place {
  flex-shrink: 0;
  margin: 28px 16px 20px 16px;
}

.applications-count-and-clear-filter-button {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 24px;
  margin: 0 16px 10px 16px;
}

.applications-count {
  flex-shrink: 0;
  color: var(--hint-text-color);
}

.spacer {
  flex-grow: 1;
}

.clear-filter-button {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: inherit;
}

.clear-filter-icon {
  flex-shrink: 0;
}

.clear-filter-text {
  margin-left: 4px;
  font-weight: 700;
  color: var(--accent-color);
}

.applications-list {
  flex-shrink: 0;
}

@include for-laptop {
  .loading-view__spinner {
    margin-top: 70px;
  }
}
